PHP_VERSION=8.4

# Configure sail runtime and features
SAIL_INSTALL_CLAUDE_CODE=false
SAIL_INSTALL_GEMINI_CLI=false
SAIL_INSTALL_PAPLAY=false
SAIL_INSTALL_PDFTOTEXT=false

# Configure MySQL
MYSQL_CREATE_TEST_DATABASE=true

# Configure additional services that start with sail
SERVICE_LOCAL_PROXY=true
SERVICE_LLM_PROXY=false
SERVICE_UPDATE_WSL_HOSTS_FILE="false" #requires admin privileges for the WSL terminal
