# Set the default behavior, in case people don't have core.autocrlf set
* text=auto

# Set for sh and bashrc
*.bashrc text eol=lf
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
